<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850287076834-4civi76tbp33g5ar0qrm4c229tmk4n4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850287076834-4civi76tbp33g5ar0qrm4c229tmk4n4v</string>
	<key>API_KEY</key>
	<string>AIzaSyCy_jOwLOsgAVraZc-lwh7JFjRicghzgaA</string>
	<key>GCM_SENDER_ID</key>
	<string>850287076834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.showList</string>
	<key>PROJECT_ID</key>
	<string>show-list-7675</string>
	<key>STORAGE_BUCKET</key>
	<string>show-list-7675.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850287076834:ios:359136a5a4b54c712ac5bb</string>
</dict>
</plist>